* {
    box-sizing: border-box;
    font-family: monospace;
    color: rgb(255, 255, 255); 
}

body {
    margin: 0px;
    padding: 0%;
}
/* keeps the border with inner image on the page without side-scrolling */

/* characters */
/*Resizing issues*/
.characters {
    position: absolute;
    right: 5vw;
    bottom: 10vh;
    height: 700px;
    width: 300px;
    z-index: -1;
}

/* Backgrounds--------------------- */

/* intro  */
.intro{
    background: url(../media/rowan-heuvel-xYYBo69fvQE-unsplash.png);
    height: 100vh;
}

/* a black screen (used for fading)*/
.blackScreen {
    background-color: rgb(0, 0, 0);
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

/* Introduction  */
.grassPath {
    background: url(../media/george-hiles-obQHIr61imY-unsplash.png);
}

/* Scene One */
.barn {
    background: url(../media/frances-gunn-QcBAZ7VREHQ-unsplash.png);
}

/* Scene Two  */

/* Scene Three */

/* Scene Four */

/* background setup*/

/* title screen BG */
.bgBox {
    margin: 0;
    padding: 0;
    width: 100vw; /*Fit the width of the window*/
}

/* Scene BGs */
.background {
    position: relative; /*The background is relative so that the stat box stays within the 
    container: bgBox */
    height: 70vh;
    background-size: cover;
    /*Setting the height of the background 
    to match the height of the view (window).
    Only 70 is used here for the BG. The 
    other 30 is used for the storybox*/
    z-index: -1;
}

/* For intro BG */

.introBG {
    height: 100vh;
}

/* Game Title */
h1 {
    position: absolute;
    bottom: 85vh;
    left: 35vw;
    font-size: 60px;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0;
}

/* Game Title Screen Button */
.introBtn {
    position: absolute;
    bottom: 15vh;
    left: 25vw;
    height: 20vh;
    width: 50vw;
    background: rgb(124 52 0);
    border: 20px groove rgb(79 32 0);
    font-size: 40px;
    color: white;
    visibility: visible; /*display:none didnt work, so i tried this method*/
    opacity: 1;
    /* ADD THE BOTTOM STUFF LATER */
    /* animation-name: fadeIn;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; */
}

.introBtn:hover {
    background: rgb(79 32 0);
    border-color: rgb(124 52 0);
}

/* For Storyline Box*/

.storyBox {
    height: 30vh; /*The other 30% of the view. Used to tell the story*/
    width: 100vw; /*Fit the width of the window*/
    background: #ffa86a;
    border: 30px inset #a34300;
    z-index: 1;
}

.narration {
    margin: 22px 0px 0px;
    font-size: 25px;
    text-align: center;
    overflow: hidden;
}

/* For Hero Stats */
ul {
    margin: 0px;
    padding: 0px;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

li {
    list-style-type: none;
    color: rgb(0 0 0);
}

span {
    padding-right: 85px;
    color: #9f0000;
}

.heroStats {
    position: absolute;
    left: 1vw; /*making sure that the box's edge isn't out of view*/
    bottom: 60vh; /*The box is absolute to the background itself,
    and this 'pushes' the stat box up*/
    height: 155px;
    width: 289px;
    background: rgb(255 168 106);
    border: 8px outset rgb(79 32 0);
    z-index: 1;
} 

.healthBar {
    position: relative;
    margin-top: 10px;
    padding-bottom: 60px;
    width: 100%;
    border-radius: 10px;
    background: green;
}

.deathBar {
    position: absolute;
    height: 60px;
    width: 89%;
    background: red;
    border-radius: 10px;
    z-index: -1;
}

.healthText {
    position: absolute;
    padding-left: 50px;
    line-height: 1.5;
}

/* For buttons */ 

.storyBtn {
    position: absolute;
    margin-top: 3%;
    margin-left: 6%;
    height: 7vh;
    width: 82vw;
    background: rgb(79 32 0);
    border: none;
    border-radius: 50px;
    font-size: 25px;
    z-index: 2;
}

.choiceBtn {
    position: absolute;
    margin-top: 6%;
    margin-left: 2%;
    height: 54px;
    background: rgb(79 32 0);
    border: none;
    border-radius: 50px;
    font-size: 18px;
    z-index: 2;
}

.choiceA {
    width: 45vw;
}

.choiceB {
    width: 45vw;
}

button {
    color: white;
}

/* keyframes */

/* For title screen */
@keyframes fadeIn {
    100% {
        opacity: 1;
        visibility: visible; /*the button will only be clickable when visible*/
    }
}

/* For scenes */
@keyframes sceneFade {
    100% {
        opacity: 1;
    }
}

/* Backgrounds: */
/*George Hiles*/
/* Ashley Trethowan */
/* Anne Preble  */
/* Vincentiu Solomon */
/* Rowan Heuvel */
/* Sheila Joy */
/* Stephen Radford */
/* Frances Gunn */
/* Annie Spratt */
/* Samuel Penn */
/* Joshua Ness */
/* Aleksandar Ristov */

/* 
sm 768
md 992
lg 1280 */